html {
    scroll-behavior: smooth;
  }
main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* custom css here */
.npk{
    display: block;
}
.smoist{
    display: block;
}
.air-temp{
    display: block;
}

.menunav {
    overflow: hidden;
    background-color: #333;
  }
  
.menunav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menunav a:hover {
    background-color: #ddd;
    color: black;
}

.menunav a.active {
    background-color: #04AA6D;
    color: white;
}

.menunav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .menunav a:not(:first-child) {display: none;}
    .menunav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .menunav.responsive {position: relative;}
    .menunav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menunav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}
